<form method="POST" action="/signup_process">{% csrf_token %}

    <label for="fname">First name:</label><br>
    <input type="text" id="fname" name="fname"><br>
    <label for="lname">Last name:</label><br>
    <input type="text" id="lname" name="lname"><br>

    <label for="fname">Email Address:</label><br>
    <input type="text" id="email_address" name="email_address"><br>

    <label for="fname">Password</label><br>
    <input type="text" id="password" name="password"><br>

    <label for="fname">Designation:</label><br>
    <input type="text" id="designation" name="designation"><br>

    <label for="fname">Role:</label><br>
    <input type="text" id="role" name="role"><br>

    <label for="fname">Age:</label><br>
    <input type="text" id="age" name="age"><br>

    <label for="fname">Organization:</label><br>
    <input type="text" id="organization" name="organization"><br>

    <label for="fname">Suburb:</label><br>
    <input type="text" id="suburb" name="suburb"><br>

    <label for="fname">City:</label><br>
    <input type="text" id="city" name="city"><br>

    <label for="fname">State:</label><br>
    <input type="text" id="state" name="state"><br>

    <label for="fname">Country:</label><br>
    <input type="text" id="country" name="country"><br>

    <button type="submit">Signup</button>
</form>
  