{% extends 'main/base.html' %}
{%load static %}
{% block content %}
<link href="{% static 'assets/dist/css/dashboard.css' %}" rel="stylesheet">
  <body>
    <!-- {% include 'main/navbar.html' %} -->
    {% include 'logged_in_templates/parts/navbar.html' %}

<div class="container-fluid">
  <div class="row">
    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
      <div class="sidebar-sticky pt-3">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link" href="/dashboard">
                  <span data-feather="home"></span>
                  Dashboard <span class="sr-only">(current)</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="users"></span>
                  Add users (Not implemented)
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="file"></span>
                  Add resources (Not implemented)
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="file"></span>
                  Add Policies (Not implemented)
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/domain_resource">
                  <span data-feather="file"></span>
                  View domain 1 resources
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="/playground">
                  <span data-feather="file"></span>
                  Playground
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/playground2">
                  <span data-feather="file"></span>
                  Playground (Stored keys)
                </a>
              </li>
        </ul>
      </div>
    </nav>

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Welcome {{request.user.username}}</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
          <!-- <div class="btn-group mr-2">
            <a type="button" class="btn btn-sm btn-outline-secondary" href="/adminPanel/add_policy">
              Add Policy
            </a>
          </div> -->
          <!-- <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
            <span data-feather="calendar"></span>
            This week
          </button> -->
        </div>
      </div>
    
      
        <!-- <div class="form-group">
          <label for="exampleFormControlInput1">Policy Name</label>
          <input type="text" class="form-control" id="policy_name" name="policy_name" placeholder="">
        </div> -->
        
        <!-- <div class="form-group">
            <label for="exampleFormControlInput1">Policy Description</label>
            <input type="text" class="form-control" id="policy_description" name="policy_description" placeholder="">
        </div> -->

        <!-- <div class="form-group">
            <label for="inputState">Policy Version</label>
            <select id="policy_version" name="policy_version" class="form-control">
              <option selected>Version 2</option>
              <option>Version 3</option>
            </select>
        </div> -->
        <form method="POST" action="#" id="predicate">
        
            <div class="form-group">
                <label for="exampleFormControlInput1">Setup predicate (Does not work with space between values)</label>
                <!-- <input type="text" class="form-control" id="policy_description" name="policy_description" placeholder=""> -->
                <table class="table table-bordered" id="dynamic_field">
                    <tr>
                        <!-- <td><label>Variable Name: </label></td>
                        <td><input type="text" name="subject_name" placeholder="Enter subject name" class="form-control subject_name_list" /></td> -->
                        <td><label>Value: </label></td>
                        <td><input type="text" name="predicate_value" id="predicate_value" placeholder="Enter predicate value" class="form-control name_variable_list" /></td>
                        <td><button type="button" name="add" id="add_predicate" class="btn btn-success">Add More</button></td>
                    </tr>
                </table>
            </div>
        </form>

        <div class="form-group">
            <label for="exampleFormControlInput1">Generated Predicate</label>
            <table class="table table-bordered" id="dynamic_field">
                <tr>
                    <td><input type="text" name="predicate_values" id="predicate_values" placeholder="" class="form-control" /></td>
                </tr>
            </table>
        </div>
        <hr>
        <div class="form-group" id="time_div" style="display:none;">
            <label for="exampleFormControlInput1">Time to generate</label>
            <table class="table table-bordered" id="dynamic_field">
                <tr>
                    <td><input name="time" id="time" class="form-control" rows="5"/></td>
                </tr>
            </table>
        </div>

        <div class="form-group" id="generated_signature_div" style="display:none;">
            <label for="exampleFormControlInput1">Generated Signature</label>
            <table class="table table-bordered" id="dynamic_field">
                <tr>
                    <td><textarea name="generated_signature" value="" id="generated_signature" class="form-control" rows="5"></textarea></td>
                </tr>
            </table>
        </div>

        <div class="form-group row">
            <div class="col-sm-10">
              <button type="submit" id="generate_predicate" class="btn btn-primary">Generate predicate</button>
              <button type="submit" id="generate_signature" class="btn btn-primary" disabled>Generate signature</button>
              <button type="submit" id="verify_signature" class="btn btn-primary" disabled>Verify signature</button>
            </div>
        </div>

    </main>
  </div>
</div>

<div class="modal fade" id="exampleModalCenter2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Response</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body-2">
            There was an error
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <!-- <button type="button" class="btn btn-primary" id="generate_signature">Genrate signature</button> -->
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="exampleModalCenter3" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Response</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body-2" id="final_response">
            
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <!-- <button type="button" class="btn btn-primary" id="generate_signature">Genrate signature</button> -->
        </div>
      </div>
    </div>
  </div>



<script src="{% static 'assets/dist/js/jquery-3.5.1.min.js' %}"></script>
<script src="{% static 'assets/dist/js/bootstrap.bundle.min.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.9.0/feather.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
<script src="{% static 'assets/dist/js/dashboard.js' %}"></script>

<script>
  $(document).ready(function(){
    tpk = "";
    apk = "";
    sign = "";
    time = "";
    pred = "";
    attr = "";

    var i=1;
    $("#add_predicate").click(function(){
        console.log("subject button clicked")
        i++;
        $('#dynamic_field').append('<tr id="row'+i+'">' +
            '<td><label>Value: </label></td>\n' +
            '<td><input type="text" name="predicate_value" id="predicate_value" placeholder="Enter predicate value" class="form-control name_variable_list" /></td>\n' +
            '<td><button type="button" name="remove" id="'+i+'" class="btn btn-danger btn_remove1">X</button></td></tr>');
    });
    
    $(document).on('click', '.btn_remove1', function(){
        var button_id = $(this).attr("id");
        $('#row'+button_id+'').remove();
        console.log("remove button clickec")
    });

    $("#generate_predicate").click(function(e){
        e.preventDefault();
        // alert("asdkf");
        $("#predicate_value").each(function() {
            var str = $("#predicate").serializeArray();
            var separate_predicate_values = [];
            for (var i=0;i<str.length;i++)
            {
                separate_predicate_values.push(str[i].value.toUpperCase());
            }
            final_string = "";
            for(var i=0;i<separate_predicate_values.length;i++)
            {
                final_string = final_string + separate_predicate_values[i] + " AND ";
            }
            final_string = final_string.split(" ").reverse().slice(1).reverse().join(" ");
            final_string = final_string.split(" ").reverse().slice(1).reverse().join(" ");
            $("#generate_predicate").prop('disabled', true);
            $("#generate_signature").prop('disabled', false);
            $("#predicate_values").val(final_string);
        });
    });
    $("#generate_signature").click(function(e){
        e.preventDefault();
        var predicate = $("#predicate_values").val();
        console.log(predicate);
        $.ajax({
            type: 'POST',
            url: 'http://localhost:9000/pep/api/playground_generate_signature',
            data: {"predicate" : predicate},
            async: false,
            success: function(response){
                if (response.response == 'error') {
                    $("#exampleModalCenter2").modal('show');
                } else {
                    $("#generated_signature_div").css("display", "block");
                    $("#time_div").css("display", "block")
                    // console.log(response.tpk);
                    console.log("*****")
                    console.log(response)
                    tpk = response.tpk;
                    console.log("---------------");
                    // console.log(response.apk);
                    apk = response.apk;
                    console.log("---------------");
                    // console.log(response.sign);
                    sign = response.sign;
                    time = response.time_to_generate_keys;
                    pred = response.predicate;
                    attr = response.attributes;
                    console.log("---------------");
                    // console.log(response.time);
                    $("#generated_signature").val(response.sign);
                    $("#time").val(response.time_to_generate_keys);
                    $("#generate_signature").prop('disabled', true);
                    $("#verify_signature").prop('disabled', false);
                }
            }
        });
    });
    $("#verify_signature").click(function(){
      // alert("asdf");
      console.log(tpk);
      console.log("---------------");
      console.log(apk);
      console.log("---------------");
      console.log(sign);
      console.log("---------------");
      $.ajax({
        type: 'POST',
        url: 'http://localhost:9000/pep/api/verify_signature',
        data: {"tpk" : tpk, "apk":apk, "sign":sign, "time":time, "predicate":pred, "attributes":attr},
        async: false,
        success: function(response) {
          console.log(response);
          $("#final_response").html(response.response);
          $("#exampleModalCenter3").modal('show');

        }
      })
    })
  });
</script>


</body>
{% endblock %}